@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
    --cor01:  rgb(27, 26, 26);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{
    background-color: var(--cor01);
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover{
    background-image: linear-gradient(to top,rgb(184, 179, 179),transparent);
    color: var(--cor01);
}
body{
    background: black url(../imagens/oceano-atlantico.png) no-repeat;
    background-position: top center;
    background-size: cover;
}
main form{
    width: 400px;
    height: 530px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.664);
    font-family: var(--fonte3);
}
fieldset{
    padding: 5px;
}
.form-content input{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid rgb(173, 173, 173);
}
.form-content output{
    
    visibility: hidden;
} 
#button{
    background-color: rgb(137, 43, 226);
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
#button:hover{
    background-color: rgb(192, 180, 203);
}
.form-content.erro input{
    border-color: red;
}
.form-content.erro output{
    color: red;
    visibility: visible;
}
.form-content.ok input{
    border-color: aqua;
}
.form-content.ok output{
    visibility: hidden;
}
footer{
    background-color: var(--cor01);
    height: 150px;
    width: 100vw;
    
}