@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
    --cor01:  rgb(27, 26, 26);
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{
    background-color: var(--cor01);
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}
main p{
    padding-bottom: 50px;
}
main a{
    text-decoration: none;
    color: rgba(1, 1, 34, 0.616);
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover{
    background-image: linear-gradient(to top,rgb(184, 179, 179),var(--cor01));
    color: var(--cor01);
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2vw;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: var(--cor01);
}
section.imagem{
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}
section.imagem >p{
    display: flex;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.562);
    text-shadow: 3px 3px 5px black;
}
section#img01{
    background-image: url("../imagens/oceano-atlantico.png");
    background-position: right center;
    
}
section#img02{
    background-image: url("../imagens/oceano_327.jpg");
    background-position: right center;
    
}
footer{
    background-color: var(--cor01);
    height: 150px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    
    
}
.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 100px;
    width: 500px;
}
.conteiner{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
footer img{
    object-fit: cover;
    height: 100px;
    width: 500px;
}