@charset "UTF-8";

:root{
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --cor01:  rgb(27, 26, 26);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    min-height: 100vh;
    background-color: rgb(43, 41, 41);
    font-family: var(--fonte1);
}
header{
    background-color: var(--cor01);
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 10vw;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover{
    background-image: linear-gradient(to top,rgb(184, 179, 179),transparent);
    color: var(--cor01);
}
main{
    width: 100vw;
    height: 100vh;
    padding: 2%;
    overflow: auto;
    
    
}
main section{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
}
.card{
    position: relative;
    width: 20%;
    height: 100%;
    margin: 0px 5px;
    transition: width 1s;
}
.card:hover{
    width: 30%;
    .info{
        display: block;
    }
}
.info{
    display: none;
    position: absolute;
    width: 100%;
    padding: 16% 8%;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.74) 65%, transparent);
    color: white;
    transition: display 0.5;

}
.info h2{
    color: gold;
}
main>section>div> img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}
footer{
    background-color: var(--cor01);
    height: 150px;
    width: 100vw;
    
}
@media screen and (max-width: 768px) {
    main section{
        width: 100%;
        height: 90vh;
        display: contents;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }
    .card{
        position: relative;
        width: 60%;
        height: 100%;
        margin: 0px 5px;
        padding-bottom: 10px;
        transition: width 1s;
    }
    .card:hover{
        width: 90%;
        .info{
            display: block;
        }
    }

}

